<a href="/">Main Page</a>
<a href="/space">Spaces</a>
<a href="/space/request">Requests</a>

<h1>Request Page</h1>
<h3>Your booking is now confirmed</h3>


<form action="/" method="get">
<button type="submit" name="ok">Ok</button>
</form>
