<a href="/">Main </a>
<a href="/space">Spaces </a>
<a href="/space/requests">Requests </a>


<%# Request to Book button  %>
<h1>Space Page</h1>

<form action="/space/requests" method="get">
<button type="submit" name="request">Request to Book</button>
</form>


