<a href="/">Main Page</a>
<a href="/space">Spaces</a>
<a href="/space/request">Requests</a>


<%# Request to Book button  %>
<h1>Space Page</h1>

<form action="/space/request" method="get">
<button type="submit" name="request">Request to Book</button>
</form>


