Add your space!
<form action="/makersbnb/add" method="post">
  <label for="Name">Name</label>
  <input type="text" name="Name" placeholder="The BNB"/>
  <label for="Description">Description</label>
  <input type="text" name="Description" placeholder="Your new favourite getaway"/>
  <input type="submit" value="Submit"/>
</form>
