Here is a confirmation of your new space details: <br>
Name: <%=@space[0]%> <br>
Description: <%=@space[1]%>
<a href="/makersbnb/add">Add another space</a>

<form action="/makersbnb/spaces" method="get">
  <button type="submit" name="requests"> view all spaces </button>
</form>