Here is a confirmation of your new space details: 
Name: <%=Space.names%>
<a href="/makersbnb/add">Add another space</a>

<form action="/makersbnb/spaces" method="get">
  <button type="submit" name="requests"> view all spaces </button>
</form>