<!-- in index.erb -->
<a href="/makersbnb">Main </a>
<a href="/makersbnb/spaces">Spaces </a>
<a href="/makersbnb/requests">Requests </a>

<h1>Welcome to MakersBNB</h1>
<h3>The place to rent properties</h3>
