Login page

<!--
<form action="/login_authenticate" method="post">
-->


<form>
  <label>Username_label</label>  
  <input type="text" name="username" /><br>
  <label>Password_label</label>
  <input type="text" name="password" /><br>
  <input type="submit" name="Submit" />
</form>

