<!--
<form action="/login_authenticate" method="post">
-->

<!DOCTYPE html>
<head> 
  <link href="<%= url('/index.css') %>" rel="stylesheet" type="text/css" />
  <link href="<%= url('/requests.css') %>" rel="stylesheet" type="text/css" />
</head>

<body>
  <section class="hero-section">
    <nav>
      <ul>
        <%# <li><a href="/makersbnb/member">Home</a></li>
        <li><a href="/makersbnb/spaces">Spaces </a></li>
        <li><a href="/makersbnb/requests">Requests </a></li>
        <li><a href="/makersbnb/add">Add Space</a></li>
       <li><a href="/makersbnb">Sign Out </a></li> %>
      </ul>
    </nav>  
<div>

<div class="title-container">
<h2>Log in</h2>
</div>

<div id='form-container' >
<form>
  <label>Username</label>  
  <input type="text" name="username" /><br>
  <label>Password</label>
  <input type="password" name="password" /><br>
  <input type="submit" name="Submit" class="form-buttons"/>
</form>
</div>
</section>


</body>