<!DOCTYPE html>
<head> 
  <link href="<%= url('/index.css') %>" rel="stylesheet" type="text/css" />
</head>

<body>
  <section class="hero-section">
    <nav>
      <ul>
        <li><a href="/makersbnb">Home</a></li>
         <li><a href="/makersbnb/spaces">Spaces </a></li>
        <li><a href="/makersbnb/requests">Requests </a></li>
      </ul>
    </nav>  
<div>

<div id='form-container'>
    <p>My Requests</p>
<p>Your booking request is now confirmed</p><br>

<% if @approved_message %>
<p3> <%= @approved_message %></p3>
<% end %>

<%# <form action="/" method="get">
<button type="submit" name="ok">Ok</button>
</form> %>

<form action="/makersbnb/requests" method="post">
<button type="submit" name="ok">Ok</button>
</form>
</div>

</section>


</body>