
<!DOCTYPE html>
<head> 
  <link href="<%= url('/index.css') %>" rel="stylesheet" type="text/css" />
</head>

<body>
  <section class="hero-section">
    <nav>
      <ul>
        <li><a href="/makersbnb">Home</a></li>
        <li><a href="/makersbnb/spaces">Spaces </a></li>
        <li><a href="/makersbnb/requests">Requests </a></li>
        <li><a href="/makersbnb/add">Add Space</a></li>
      </ul>
    </nav>  
<div>

<div class="title-container">
<h2>My Requests</h2>
</div>

<div id='form-container'>
<ul style="list-style: none; display: inline-block; float: center;">
<li>Your booking request is now confirmed</><br><br>
<% if @approved_message %>
<li> <%= @approved_message %></li><br>
<% end %>
<form action="/makersbnb/requests" method="post">
<button type="submit" name="ok">Ok</button>
</form>
</ul>
</div>

</section>


</body>