<a href="/makersbnb">Home</a>
<a href="/makersbnb/spaces">Spaces </a>

<h1>My Requests</h1>
<h3>Your booking request is now confirmed</h3><br>

<% if @approved_message %>
<h3> <%= @approved_message %></h3>
<% end %>

<%# <form action="/" method="get">
<button type="submit" name="ok">Ok</button>
</form> %>

<form action="/makersbnb/requests" method="post">
<button type="submit" name="ok">Ok</button>
</form>
