<!DOCTYPE html>
<head> 
  <link href="<%= url('/index.css') %>" rel="stylesheet" type="text/css" />
</head>

<body>
  <section class="hero-section">
    <nav>
      <ul>
        <li><a href="/makersbnb">Home</a></li>
         <li><a href="/makersbnb/spaces">Spaces </a></li>
        <li><a href="/makersbnb/requests">Requests </a></li>
      </ul>
    </nav>  


<div class="title-container">
<h2>Book a Space </h2>
</div>

<%# 'Name: Happy House, Description: A really cosy space, where you can relax, Price: 24$/night' %>

<div id='form-container'>
<ul style="list-style: none;" id="space-list">
  <% @spaces.each do |space| %>
     <li>Name: <%= space.name %>, </li>
     <li>Description: <%= space.description %>, </li>
     <li>Price: <%= space.price %></li><br>
     <form action="/makersbnb/requests" method="get">
  <button type="submit" name="requests">Request to Book </button>
</form>
  <% end %>
<ul>
</div>

</section>


</body>
