<a href="/makersbnb">Main </a>
<a href="/makersbnb/spaces">Spaces </a>
<a href="/makersbnb/requests">Requests </a>


<%# 'Name: Happy House, Description: A really cosy space, where you can relax, Price: 24$/night' %>
<ul style="list-style: none;">
  <% @spaces.each do |space| %>
     <li>Name: <%= space[0] %>, </li>
     <li>Description: <%= space[1] %>, </li>
     <li>Price: <%= space[2] %></li><br>
  <% end %>
<ul>




<form action="/makersbnb/requests" method="get">
  <button type="submit" name="requests"> Request to Book </button>
</form>